/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js/out
/resources/public/js/app.js
/out
/.repl
.idea/*
.DS_Store
src/.DS_Store
src/cljx/.DS_Store
resources/public/js/out.js.map
examples/simple/out/*
examples/simple/main.js
examples/xform/out/*
examples/xform/main.js
examples/go_loop/out/*
examples/go_loop/main.js
examples/nested/out/*
examples/nested/main.js
examples/disable/out/*
examples/disable/main.js
